@font-face {
  font-family: 'Geogrotesque';
  font-weight: 700;
  src: local('Geogrotesque'), url('../public/font/GeogrotesqueTRIAL-Bd.otf');
}

body {
  background: rgb(0,18,61);
  font-family: 'Geogrotesque';
  overflow: hidden;
  color: #fff;
  font-size: 50px;
}
.App {
  height: 100%;
  width: 100%;
  background-image: url('./background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .2;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px){
  body {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px){
  body {
    font-size: 20px;
  }
}